.table-container {
    height: 550px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
}

.result-table-container {
    height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-bar-container {
    height: 550px; /* Adjust the height as needed */
    overflow-y: auto;
}

/* Center the container */
.center-container {
    margin-top:10vh;
}

.rounded-box {
    border-radius: 17px;
    margin: 6px;
    padding-left: 6px;
    padding-right: 5px;
    box-shadow: 0px 0px 10px 1px #00000047;
}

.main-box {
    height: 650px;
}
.modal-footer {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    bottom: 0;
    z-index: 1030; /* Adjust the z-index as needed */
    background-color: #f8f9fa; /* Adjust the background color as needed */
}
